*.t2 {
    background-color: #eb9b50;
    height: 250px;
    left: 1000px;
    position: absolute;
    top: 200px;
    width: 700px;
  }
  
  *.t3 {
    background-color: #eb9b50;
    height: 250px;
    left: 1000px;
    position: absolute;
    top: 800px;
    width: 700px;
  }

  *.t4 {
    background-color: #eb9b50;
    height: 250px;
    left: 1000px;
    position: absolute;
    top: 1340px;
    width: 700px;
  }