
.menu{
    background: rgba(243, 115, 41, 0.979);  
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    color: black;
    width: 100%;
    clear: both;
    content: '';
    display: table;
    text-align: justify;
    margin: 0.1%;
}

nav {
    float: right;
}

nav ul li {
    list-style: none;
    margin-left: 20px;
    padding: 15px 0px;
    float: left;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-weight: bold;
}

nav ul li a::before {

    display: block;
    content: " " ;
    width: 0;
    background: rgb(0, 0, 0) ;
    height: 5px;
    top: 0 ;
    position: relative;
    transition: width 0.5s ;

}

nav ul li a:hover::before {

    width: 100%;

}

*{
    padding: 0;
    margin: 0;
}

#inicio {
background-color: rgb(0, 0, 0);
width: 100;
height: 500;
}

#referencias {
background-color: rgb(224, 109, 32);
width: 100;
height: 500;
}
*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}
#imagen img{
    width: 500px;
    height: 100%;
    transition: 2s;
}
#imagen img:hover{
transform: translateX(-30%);
filter: brightness(80%);
}
*.t1 {
    background-color: #eb9b50;
    height: 250px;
    left: 100px;
    position: absolute;
    top: 520px;
    width: 250px;
  }
  *.pi {
    
    height: 100px;
    left: 600px;
    position: absolute;
    top: 125px;
    width: 250px;
  }
  *.ps {
    
    height: 100px;
    left: 680px;
    position: absolute;
    top: 220px;
    width: 250px;
  }
  *.dg {
    
    height: 100px;
    left: 1050px;
    position: absolute;
    top: 220px;
    width: 250px;
  }
  *.appl {
    
    height: 150px;
    left: 1030px;
    position: relative;
    top: -100px;
    width: 150px;
  }